In [5]:
import pandas as pd
df1=pd.read_csv('mf1.csv')
df2=pd.read_csv('mf2.csv')
df3=pd.read_csv('mf3.csv')
df4=pd.read_csv('mf4.csv')
df5=pd.read_csv('mf5.csv')
df6=pd.read_csv('mf6.csv')
df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)
df

,schemeCode,schemeName,fund_house,scheme_type,scheme_category,date,nav
0,100027,Grindlays Super Saver Income Fund-GSSIF-Half Y...,Standard Chartered Mutual Fund,Open Ended Schemes,Income,29-05-2008,10.7205
1,100027,Grindlays Super Saver Income Fund-GSSIF-Half Y...,Standard Chartered Mutual Fund,Open Ended Schemes,Income,28-05-2008,10.7250
2,100027,Grindlays Super Saver Income Fund-GSSIF-Half Y...,Standard Chartered Mutual Fund,Open Ended Schemes,Income,27-05-2008,10.7216
3,100027,Grindlays Super Saver Income Fund-GSSIF-Half Y...,Standard Chartered Mutual Fund,Open Ended Schemes,Income,26-05-2008,10.7206
4,100027,Grindlays Super Saver Income Fund-GSSIF-Half Y...,Standard Chartered Mutual Fund,Open Ended Schemes,Income,23-05-2008,10.7152
...,...,...,...,...,...,...,...
53008913,152754,Kotak BSE PSU Index Fund - Direct Plan - IDCW ...,Kotak Mahindra Mutual Fund,Open Ended Schemes,Other Scheme - Index Funds,05-08-2024,9.4100
53008914,152755,Kotak BSE PSU Index Fund - Direct Plan - Growth,Kotak Mahindra Mutual Fund,Open Ended Schemes,Other Scheme - Index Funds,08-08-2024,9.4630
53008915,152755,Kotak BSE PSU Index Fund - Direct Plan - Growth,Kotak Mahindra Mutual Fund,Open Ended Schemes,Other Scheme - Index Funds,07-08-2024,9.5980
53008916,152755,Kotak BSE PSU Index Fund - Direct Plan - Growth,Kotak Mahindra Mutual Fund,Open Ended Schemes,Other Scheme - Index Funds,06-08-2024,9.2870
53008917,152755,Kotak BSE PSU Index Fund - Direct Plan - Growth,Kotak Mahindra Mutual Fund,Open Ended Schemes,Other Scheme - Index Funds,05-08-2024,9.4100

In [48]:
# Basic Statistics
print("\nSummary statistics:")
print(df.describe())

Summary statistics:
         schemeCode                           date           nav          year
count  5.300892e+07                       53008918  5.300892e+07  5.300892e+07
mean   1.227152e+05  2017-08-13 14:30:19.772019200  2.042052e+02  2.017122e+03
min    1.000270e+05            2006-04-01 00:00:00 -6.796493e+03  2.006000e+03
25%    1.086910e+05            2014-08-25 00:00:00  1.065850e+01  2.014000e+03
50%    1.197700e+05            2018-04-18 00:00:00  1.312300e+01  2.018000e+03
75%    1.383440e+05            2021-02-17 00:00:00  3.577550e+01  2.021000e+03
max    1.527550e+05            2024-08-08 00:00:00  2.185944e+06  2.024000e+03
std    1.576954e+04                            NaN  3.228820e+03  4.465861e+00

In [50]:
# Display summary statistics for categorical columns
print("\nSummary of categorical columns:")
print(df.describe(include=['object']))

Summary of categorical columns:
                                               schemeName       fund_house  \
count                                            53008918         53008918
unique                                              36111               73
top     UTI Liquid Fund - Regular Plan - Daily IDCW (R...  UTI Mutual Fund
freq                                                31405          4844810

               scheme_type scheme_category
count             53008918        53008918
unique                  77              83
top     Open Ended Schemes          Income
freq              30609857        10093060

In [7]:
# Unique Values
unique_values = df.nunique()
print("\nUnique Values:\n", unique_values)

Unique Values:
 schemeCode           36116
schemeName           36111
fund_house              73
scheme_type             77
scheme_category         83
date                  6682
nav                3430344
dtype: int64

In [9]:
# Missing Values
missing_values = df.isnull().sum()
print("\nMissing Values:\n", missing_values)

Missing Values:
 schemeCode         0
schemeName         0
fund_house         0
scheme_type        0
scheme_category    0
date               0
nav                0
dtype: int64

In [11]:
# Data Types
data_types = df.dtypes
print("\nData Types:\n", data_types)

Data Types:
 schemeCode           int64
schemeName          object
fund_house          object
scheme_type         object
scheme_category     object
date                object
nav                float64
dtype: object

In [13]:
# Data Completeness
data_completeness = df.notnull().mean() * 100
print("\nData Completeness:\n", data_completeness)

Data Completeness:
 schemeCode         100.0
schemeName         100.0
fund_house         100.0
scheme_type        100.0
scheme_category    100.0
date               100.0
nav                100.0
dtype: float64

In [15]:
# Check for Duplicates
duplicates = df[df.duplicated()]
print("\nDuplicate Rows:\n", duplicates.shape[0])

Duplicate Rows:
 22046009

In [19]:
# Relationship Analysis
# Drop non-numeric columns
numeric_df = df.select_dtypes(include=[float, int])

# Calculate the correlation matrix
correlation_matrix = numeric_df.corr()
print("\nCorrelation Matrix:\n", correlation_matrix)

Correlation Matrix:
             schemeCode       nav
schemeCode    1.000000 -0.009153
nav          -0.009153  1.000000

In [25]:
df['date'] = pd.to_datetime(df['date'], errors='coerce',dayfirst=True)

In [27]:
# Extract Year and Quarter
df['year'] = df['date'].dt.year
df['quarter'] = df['date'].dt.to_period('Q')

In [29]:
# Yearly Trends for Schemes
yearly_trends_schemes = df.groupby(['year', 'schemeCode']).size().unstack(fill_value=0)
print("\nYearly Trends for Schemes:\n", yearly_trends_schemes)

Yearly Trends for Schemes:
 schemeCode  100027  100028  100029  100030  100031  100032  100033  100034  \
year
2006           186     186     186     186     186     186     187     374
2007           244     244     244     244     244     244     248     496
2008           101     101     101     101     101     101     245     490
2009             0       0       0       0       0       0     241     482
2010             0       0       0       0       0       0     250     500
2011             0       0       0       0       0       0     246     492
2012             0       0       0       0       0       0     246     492
2013             0       0       0       0       0       0     248     496
2014             0       0       0       0       0       0     242     484
2015             0       0       0       0       0       0     246     492
2016             0       0       0       0       0       0     246     492
2017             0       0       0       0       0       0     247     494
2018             0       0       0       0       0       0     245     490
2019             0       0       0       0       0       0     243     486
2020             0       0       0       0       0       0     250     500
2021             0       0       0       0       0       0     247     494
2022             0       0       0       0       0       0     247     494
2023             0       0       0       0       0       0     244     488
2024             0       0       0       0       0       0     149     298

schemeCode  100035  100036  ...  152746  152747  152748  152749  152750  \
year                        ...
2006           187     187  ...       0       0       0       0       0
2007           248     248  ...       0       0       0       0       0
2008           244     244  ...       0       0       0       0       0
2009           241     241  ...       0       0       0       0       0
2010           250     250  ...       0       0       0       0       0
2011           201     201  ...       0       0       0       0       0
2012             0       0  ...       0       0       0       0       0
2013             0       0  ...       0       0       0       0       0
2014             0       0  ...       0       0       0       0       0
2015             0       0  ...       0       0       0       0       0
2016             0       0  ...       0       0       0       0       0
2017             0       0  ...       0       0       0       0       0
2018             0       0  ...       0       0       0       0       0
2019             0       0  ...       0       0       0       0       0
2020             0       0  ...       0       0       0       0       0
2021             0       0  ...       0       0       0       0       0
2022             0       0  ...       0       0       0       0       0
2023             0       0  ...       0       0       0       0       0
2024             0       0  ...       9       9      14      14       5

schemeCode  152751  152752  152753  152754  152755
year
2006             0       0       0       0       0
2007             0       0       0       0       0
2008             0       0       0       0       0
2009             0       0       0       0       0
2010             0       0       0       0       0
2011             0       0       0       0       0
2012             0       0       0       0       0
2013             0       0       0       0       0
2014             0       0       0       0       0
2015             0       0       0       0       0
2016             0       0       0       0       0
2017             0       0       0       0       0
2018             0       0       0       0       0
2019             0       0       0       0       0
2020             0       0       0       0       0
2021             0       0       0       0       0
2022             0       0       0       0       0
2023             0       0       0       0       0
2024             5       4       4       4       4

[19 rows x 36116 columns]

In [31]:
# Quarterly Trends for Schemes
quarterly_trends_schemes = df.groupby(['quarter', 'schemeCode']).size().unstack(fill_value=0)
print("\nQuarterly Trends for Schemes:\n", quarterly_trends_schemes)

Quarterly Trends for Schemes:
 schemeCode  100027  100028  100029  100030  100031  100032  100033  100034  \
quarter
2006Q2          61      61      61      61      61      61      61     122
2006Q3          64      64      64      64      64      64      64     128
2006Q4          61      61      61      61      61      61      62     124
2007Q1          58      58      58      58      58      58      60     120
2007Q2          61      61      61      61      61      61      62     124
...            ...     ...     ...     ...     ...     ...     ...     ...
2023Q3           0       0       0       0       0       0      62     124
2023Q4           0       0       0       0       0       0      60     120
2024Q1           0       0       0       0       0       0      61     122
2024Q2           0       0       0       0       0       0      60     120
2024Q3           0       0       0       0       0       0      28      56

schemeCode  100035  100036  ...  152746  152747  152748  152749  152750  \
quarter                     ...
2006Q2          61      61  ...       0       0       0       0       0
2006Q3          64      64  ...       0       0       0       0       0
2006Q4          62      62  ...       0       0       0       0       0
2007Q1          60      60  ...       0       0       0       0       0
2007Q2          62      62  ...       0       0       0       0       0
...            ...     ...  ...     ...     ...     ...     ...     ...
2023Q3           0       0  ...       0       0       0       0       0
2023Q4           0       0  ...       0       0       0       0       0
2024Q1           0       0  ...       0       0       0       0       0
2024Q2           0       0  ...       0       0       0       0       0
2024Q3           0       0  ...       9       9      14      14       5

schemeCode  152751  152752  152753  152754  152755
quarter
2006Q2           0       0       0       0       0
2006Q3           0       0       0       0       0
2006Q4           0       0       0       0       0
2007Q1           0       0       0       0       0
2007Q2           0       0       0       0       0
...            ...     ...     ...     ...     ...
2023Q3           0       0       0       0       0
2023Q4           0       0       0       0       0
2024Q1           0       0       0       0       0
2024Q2           0       0       0       0       0
2024Q3           5       4       4       4       4

[74 rows x 36116 columns]

In [33]:
# Yearly Trends for NAV
yearly_trends_nav = df.groupby('year')['nav'].mean()
print("\nYearly Trends for NAV:\n", yearly_trends_nav)

Yearly Trends for NAV:
 year
2006     64.542719
2007     70.429343
2008     71.255706
2009     85.684639
2010    106.482832
2011    123.832190
2012    167.945001
2013    198.733696
2014    185.198010
2015    189.936061
2016    189.701638
2017    207.097782
2018    211.720631
2019    202.420940
2020    213.915697
2021    236.219949
2022    275.091805
2023    291.762906
2024    301.288622
Name: nav, dtype: float64

In [35]:
# Quarterly Trends for NAV
quarterly_trends_nav = df.groupby('quarter')['nav'].mean()
print("\nQuarterly Trends for NAV:\n", quarterly_trends_nav)

Quarterly Trends for NAV:
 quarter
2006Q2     62.956443
2006Q3     64.235138
2006Q4     66.305124
2007Q1     62.758609
2007Q2     68.566412
             ...
2023Q3    295.495983
2023Q4    301.716868
2024Q1    301.284018
2024Q2    304.325774
2024Q3    294.876909
Freq: Q-DEC, Name: nav, Length: 74, dtype: float64

In [7]:
# Analyze the distribution of NAV (Net Asset Value)
print("\nNAV distribution:")
print(df['nav'].describe())

NAV distribution:
count    5.300892e+07
mean     2.042052e+02
std      3.228820e+03
min     -6.796493e+03
25%      1.065850e+01
50%      1.312300e+01
75%      3.577550e+01
max      2.185944e+06
Name: nav, dtype: float64

In [9]:
# Analyze the number of schemes per fund house
fund_house_counts = df['fund_house'].value_counts()
print("\nNumber of schemes per fund house:")
print(fund_house_counts)

Number of schemes per fund house:
fund_house
UTI Mutual Fund                      4844810
Nippon India Mutual Fund             4233011
ICICI Prudential Mutual Fund         3126114
HDFC Mutual Fund                     3121399
Aditya Birla Sun Life Mutual Fund    2979875
                                      ...
Shinsei Mutual Fund                     4243
Helios Mutual Fund                      2924
Zerodha Mutual Fund                     1781
YES Mutual Fund                         1627
Old Bridge Mutual Fund                   528
Name: count, Length: 73, dtype: int64

In [11]:
# Analyze the distribution of scheme types
scheme_type_counts = df['scheme_type'].value_counts()
print("\nDistribution of scheme types:")
print(scheme_type_counts)

Distribution of scheme types:
scheme_type
Open Ended Schemes                                                                                  30609857
360 ONE Mutual Fund                                                                                  9102800
Close Ended Schemes                                                                                  7556841
IL&FS Mutual Fund                                                                                    4441848
135488;INF174K01Y15;-;Kotak FMP Series 180                                                            396365
                                                                                                      ...
IIFCL Mutual Fund                                                                                         66
138559;INF663L01KX4;-;DHFL Pramerica Hybrid Fixed Term Fund - Series 11 - Direct Plan - Dividend          38
131466;INF200K011U0;-;SBI DEBT FUND SERIES A - 44                                                         15
130158;INF200K016J2;-;SBI Debt Fund Series A - 29                                                          3
130983;INF200K010P2;-;SBI DEBT FUNDS SERIES A - 39                                                         2
Name: count, Length: 77, dtype: int64

In [13]:
# Analyze the distribution of scheme categories
scheme_category_counts = df['scheme_category'].value_counts()
print("\nDistribution of scheme categories:")
print(scheme_category_counts)

Distribution of scheme categories:
scheme_category
Income                                10093060
Formerly Known as IIFL Mutual Fund     9102800
IDF                                    4441914
Debt Scheme - Low Duration Fund        2148636
Debt Scheme - Short Duration Fund      1608377
                                        ...
466 DAYS                                   782
Annual Dividend                            339
1111 DAYS                                   15
91 Days                                      3
1100 DAYS                                    2
Name: count, Length: 83, dtype: int64

In [ ]:
# Save Analysis to CSV
analysis_results = {
    "Basic Statistics": basic_stats,
    "Unique Values": unique_values,
    "Missing Values": missing_values,
    "Data Types": data_types,
    "Data Completeness": data_completeness,
    "Duplicate Rows": duplicates,
    "Correlation Matrix": correlation_matrix,
    "Yearly Trends for Schemes": yearly_trends_schemes,
    "Quarterly Trends for Schemes": quarterly_trends_schemes,
    "Yearly Trends for NAV": yearly_trends_nav,
    "Quarterly Trends for NAV": quarterly_trends_nav
}

for key, value in analysis_results.items():
    value.to_csv(f'{key.replace(" ", "_").lower()}.csv')
    print(f"{key} saved to {key.replace(' ', '_').lower()}.csv")