In [24]:
import re

In [2]:
import pandas as pd
df = pd.read_parquet('mf_historical_clean.parquet')
df

,schemeCode,schemeName,fund_house,scheme_type,scheme_category,date,nav
0,149194,SBI Fixed Maturity Plan (FMP) - Series 51 (184...,SBI Mutual Fund,Mutual Fund,IDF/Growth/Liquid,2024-08-08,11.6690
1,148758,Mirae Asset Corporate Bond Fund Regular IDCW,Mirae Asset Mutual Fund,Open Ended Scheme,Debt Scheme,2024-08-08,11.8699
2,151300,Axis CRISIL IBX 50:50 Gilt Plus SDL June 2028 ...,Axis Mutual Fund,Open Ended Scheme,Other Scheme,2024-08-08,11.2441
3,105025,Invesco India Low Duration Fund - Daily IDCW (...,Invesco Mutual Fund,Open Ended Scheme,Debt Scheme,2024-08-08,1017.9524
4,146188,BANDHAN Overnight Fund - Regular Plan - Daily ...,Bandhan Mutual Fund,Open Ended Scheme,Debt Scheme,2024-08-08,1000.0073
...,...,...,...,...,...,...,...
30962904,100891,Principal Cash Management-Liquid Option-Instit...,PRINCIPAL Mutual Fund,Open Ended Scheme,Uncategorized,2006-04-01,10.0064
30962905,100888,Principal Cash Management-Liquid Option-Growth...,PRINCIPAL Mutual Fund,Open Ended Scheme,Uncategorized,2006-04-01,13.7801
30962906,102913,CANARA ROBECO SAVINGS FUND - REGULAR PLAN - GR...,Canara Robeco Mutual Fund,Open Ended Scheme,Debt Scheme,2006-04-01,10.6652
30962907,102010,UTI Liquid Fund - Regular Plan - Daily IDCW (R...,UTI Mutual Fund,Mutual Fund,Uncategorized,2006-04-01,1017.7652
30962908,100613,Sundaram Growth Fund-Growth,Sundaram Mutual Fund,Open Ended Scheme,Uncategorized,2006-04-01,61.6566

# RANGE FINDING

In [11]:
df['date'] = pd.to_datetime(df['date'])

# Find minimum and maximum values
min_schemeCode = df['schemeCode'].min()
max_schemeCode = df['schemeCode'].max()

min_date = df['date'].min()
max_date = df['date'].max()

min_nav = df['nav'].min()
max_nav = df['nav'].max()

# Print results
print(f"Minimum schemeCode: {min_schemeCode}")
print(f"Maximum schemeCode: {max_schemeCode}")
print(f"Minimum date: {min_date}")
print(f"Maximum date: {max_date}")
print(f"Minimum NAV: {min_nav}")
print(f"Maximum NAV: {max_nav}")

Minimum schemeCode: 100027
Maximum schemeCode: 152755
Minimum date: 2006-04-01 00:00:00
Maximum date: 2024-08-08 00:00:00
Minimum NAV: -6796.4926
Maximum NAV: 2185944.3903

In [10]:
print(df['nav'].mean())

187.3824285021029

In [8]:
print(df['nav'].median())

12.3251

## DA1

In [14]:
# Basic Statistics
print("\nSummary statistics:")
basic_stats=df.describe()
print(basic_stats)

Summary statistics:
         schemeCode                        date           nav
count  3.096291e+07                    30962909  3.096291e+07
mean   1.229739e+05  2017-01-10 06:58:47.600871  1.873824e+02
min    1.000270e+05         2006-04-01 00:00:00 -6.796493e+03
25%    1.087150e+05         2014-01-16 00:00:00  1.052260e+01
50%    1.202440e+05         2017-05-12 00:00:00  1.232510e+01
75%    1.382740e+05         2020-08-19 00:00:00  2.737630e+01
max    1.527550e+05         2024-08-08 00:00:00  2.185944e+06
std    1.573856e+04                         NaN  4.203788e+03

In [16]:
# Display summary statistics for categorical columns
print("\nSummary of categorical columns:")
print(df.describe(include=['object']))

Summary of categorical columns:
                                               schemeName       fund_house  \
count                                            30962909         30962909
unique                                              36111               73
top     SBI Overnight Fund - Regular Plan - Weekly Inc...  UTI Mutual Fund
freq                                                 6403          2815463

              scheme_type scheme_category
count            30962909        30962909
unique                 11               9
top     Open Ended Scheme   Uncategorized
freq             16485404        13470034

In [18]:
# Unique Values
unique_values = df.nunique()
print("\nUnique Values:\n", unique_values)

Unique Values:
 schemeCode           36116
schemeName           36111
fund_house              73
scheme_type             11
scheme_category          9
date                  6682
nav                3430344
dtype: int64

In [20]:
# Missing Values
missing_values = df.isnull().sum()
print("\nMissing Values:\n", missing_values)

Missing Values:
 schemeCode         0
schemeName         0
fund_house         0
scheme_type        0
scheme_category    0
date               0
nav                0
dtype: int64

In [22]:
# Data Types
data_types = df.dtypes
print("\nData Types:\n", data_types)

Data Types:
 schemeCode                  int64
schemeName                 object
fund_house                 object
scheme_type                object
scheme_category            object
date               datetime64[us]
nav                       float64
dtype: object

In [24]:
# Data Completeness
data_completeness = df.notnull().mean() * 100
print("\nData Completeness:\n", data_completeness)

Data Completeness:
 schemeCode         100.0
schemeName         100.0
fund_house         100.0
scheme_type        100.0
scheme_category    100.0
date               100.0
nav                100.0
dtype: float64

In [26]:
# Check for Duplicates
duplicates = df[df.duplicated()]
print("\nDuplicate Rows:\n", duplicates.shape[0])

Duplicate Rows:
 0

In [28]:
# Relationship Analysis
# Drop non-numeric columns
numeric_df = df.select_dtypes(include=[float, int])

# Calculate the correlation matrix
correlation_matrix = numeric_df.corr()
print("\nCorrelation Matrix:\n", correlation_matrix)

Correlation Matrix:
             schemeCode       nav
schemeCode    1.000000 -0.007044
nav          -0.007044  1.000000

In [30]:
# Extract Year and Quarter
df['date'] = pd.to_datetime(df['date'], errors='coerce',dayfirst=True)
df['year'] = df['date'].dt.year
df['quarter'] = df['date'].dt.to_period('Q')

In [32]:
# Yearly Trends for Schemes
yearly_trends_schemes = df.groupby(['year', 'schemeCode']).size().unstack(fill_value=0)
print("\nYearly Trends for Schemes:\n", yearly_trends_schemes)

Yearly Trends for Schemes:
 schemeCode  100027  100028  100029  100030  100031  100032  100033  100034  \
year
2006           186     186     186     186     186     186     187     187
2007           244     244     244     244     244     244     248     248
2008           101     101     101     101     101     101     245     245
2009             0       0       0       0       0       0     241     241
2010             0       0       0       0       0       0     250     250
2011             0       0       0       0       0       0     246     246
2012             0       0       0       0       0       0     246     246
2013             0       0       0       0       0       0     248     248
2014             0       0       0       0       0       0     242     242
2015             0       0       0       0       0       0     246     246
2016             0       0       0       0       0       0     246     246
2017             0       0       0       0       0       0     247     247
2018             0       0       0       0       0       0     245     245
2019             0       0       0       0       0       0     243     243
2020             0       0       0       0       0       0     250     250
2021             0       0       0       0       0       0     247     247
2022             0       0       0       0       0       0     247     247
2023             0       0       0       0       0       0     244     244
2024             0       0       0       0       0       0     149     149

schemeCode  100035  100036  ...  152746  152747  152748  152749  152750  \
year                        ...
2006           187     187  ...       0       0       0       0       0
2007           248     248  ...       0       0       0       0       0
2008           244     244  ...       0       0       0       0       0
2009           241     241  ...       0       0       0       0       0
2010           250     250  ...       0       0       0       0       0
2011           201     201  ...       0       0       0       0       0
2012             0       0  ...       0       0       0       0       0
2013             0       0  ...       0       0       0       0       0
2014             0       0  ...       0       0       0       0       0
2015             0       0  ...       0       0       0       0       0
2016             0       0  ...       0       0       0       0       0
2017             0       0  ...       0       0       0       0       0
2018             0       0  ...       0       0       0       0       0
2019             0       0  ...       0       0       0       0       0
2020             0       0  ...       0       0       0       0       0
2021             0       0  ...       0       0       0       0       0
2022             0       0  ...       0       0       0       0       0
2023             0       0  ...       0       0       0       0       0
2024             0       0  ...       9       9      14      14       5

schemeCode  152751  152752  152753  152754  152755
year
2006             0       0       0       0       0
2007             0       0       0       0       0
2008             0       0       0       0       0
2009             0       0       0       0       0
2010             0       0       0       0       0
2011             0       0       0       0       0
2012             0       0       0       0       0
2013             0       0       0       0       0
2014             0       0       0       0       0
2015             0       0       0       0       0
2016             0       0       0       0       0
2017             0       0       0       0       0
2018             0       0       0       0       0
2019             0       0       0       0       0
2020             0       0       0       0       0
2021             0       0       0       0       0
2022             0       0       0       0       0
2023             0       0       0       0       0
2024             5       4       4       4       4

[19 rows x 36116 columns]

In [34]:
# Quarterly Trends for Schemes
quarterly_trends_schemes = df.groupby(['quarter', 'schemeCode']).size().unstack(fill_value=0)
print("\nQuarterly Trends for Schemes:\n", quarterly_trends_schemes)

Quarterly Trends for Schemes:
 schemeCode  100027  100028  100029  100030  100031  100032  100033  100034  \
quarter
2006Q2          61      61      61      61      61      61      61      61
2006Q3          64      64      64      64      64      64      64      64
2006Q4          61      61      61      61      61      61      62      62
2007Q1          58      58      58      58      58      58      60      60
2007Q2          61      61      61      61      61      61      62      62
...            ...     ...     ...     ...     ...     ...     ...     ...
2023Q3           0       0       0       0       0       0      62      62
2023Q4           0       0       0       0       0       0      60      60
2024Q1           0       0       0       0       0       0      61      61
2024Q2           0       0       0       0       0       0      60      60
2024Q3           0       0       0       0       0       0      28      28

schemeCode  100035  100036  ...  152746  152747  152748  152749  152750  \
quarter                     ...
2006Q2          61      61  ...       0       0       0       0       0
2006Q3          64      64  ...       0       0       0       0       0
2006Q4          62      62  ...       0       0       0       0       0
2007Q1          60      60  ...       0       0       0       0       0
2007Q2          62      62  ...       0       0       0       0       0
...            ...     ...  ...     ...     ...     ...     ...     ...
2023Q3           0       0  ...       0       0       0       0       0
2023Q4           0       0  ...       0       0       0       0       0
2024Q1           0       0  ...       0       0       0       0       0
2024Q2           0       0  ...       0       0       0       0       0
2024Q3           0       0  ...       9       9      14      14       5

schemeCode  152751  152752  152753  152754  152755
quarter
2006Q2           0       0       0       0       0
2006Q3           0       0       0       0       0
2006Q4           0       0       0       0       0
2007Q1           0       0       0       0       0
2007Q2           0       0       0       0       0
...            ...     ...     ...     ...     ...
2023Q3           0       0       0       0       0
2023Q4           0       0       0       0       0
2024Q1           0       0       0       0       0
2024Q2           0       0       0       0       0
2024Q3           5       4       4       4       4

[74 rows x 36116 columns]

In [36]:
# Yearly Trends for NAV
yearly_trends_nav = df.groupby('year')['nav'].mean()
print("\nYearly Trends for NAV:\n", yearly_trends_nav)

Yearly Trends for NAV:
 year
2006     58.362642
2007     61.546091
2008     64.230885
2009     76.804298
2010    100.853372
2011    112.965144
2012    155.618942
2013    180.683488
2014    159.362204
2015    162.593046
2016    159.697668
2017    177.989227
2018    201.906831
2019    199.233413
2020    220.203271
2021    246.482073
2022    287.698866
2023    293.259192
2024    291.172196
Name: nav, dtype: float64

In [38]:
# Quarterly Trends for NAV
quarterly_trends_nav = df.groupby('quarter')['nav'].mean()
print("\nQuarterly Trends for NAV:\n", quarterly_trends_nav)

Quarterly Trends for NAV:
 quarter
2006Q2     57.250598
2006Q3     58.279828
2006Q4     59.448103
2007Q1     55.669616
2007Q2     58.651184
             ...
2023Q3    298.030922
2023Q4    298.897605
2024Q1    295.548206
2024Q2    294.772452
2024Q3    274.292082
Freq: Q-DEC, Name: nav, Length: 74, dtype: float64

In [40]:
# Analyze the distribution of NAV (Net Asset Value)
print("\nNAV distribution:")
print(df['nav'].describe())

NAV distribution:
count    3.096291e+07
mean     1.873824e+02
std      4.203788e+03
min     -6.796493e+03
25%      1.052260e+01
50%      1.232510e+01
75%      2.737630e+01
max      2.185944e+06
Name: nav, dtype: float64

In [42]:
# Analyze the number of schemes per fund house
fund_house_counts = df['fund_house'].value_counts()
print("\nNumber of schemes per fund house:")
print(fund_house_counts)

Number of schemes per fund house:
fund_house
UTI Mutual Fund                      2815463
HDFC Mutual Fund                     2201785
Aditya Birla Sun Life Mutual Fund    2111979
ICICI Prudential Mutual Fund         2009102
Nippon India Mutual Fund             1674877
                                      ...
Shinsei Mutual Fund                     4243
Helios Mutual Fund                      2068
Zerodha Mutual Fund                     1781
YES Mutual Fund                         1015
Old Bridge Mutual Fund                   528
Name: count, Length: 73, dtype: int64

In [44]:
# Analyze the distribution of scheme types
scheme_type_counts = df['scheme_type'].value_counts()
print("\nDistribution of scheme types:")
print(scheme_type_counts)

Distribution of scheme types:
scheme_type
Open Ended Scheme                   16485404
Mutual Fund                          6986550
Close Ended Scheme                   6347627
Debt Scheme                           406588
Uncategorized                         245296
Plan/Duration                         242528
Interval Fund                         156442
Hybrid Scheme                          49919
Liquid/Ultra Short Duration Fund       29714
Index Fund                              9917
Equity Scheme                           2924
Name: count, dtype: int64

In [46]:
# Analyze the distribution of scheme categories
scheme_category_counts = df['scheme_category'].value_counts()
print("\nDistribution of scheme categories:")
print(scheme_category_counts)

Distribution of scheme categories:
scheme_category
Uncategorized               13470034
Debt Scheme                  6938272
IDF/Growth/Liquid            3606758
Equity Scheme                2087103
Hybrid Scheme                2053682
Other Scheme                 1773114
Duration/Plan                 607759
Solution Oriented Scheme      244072
Direct/Payout                 182115
Name: count, dtype: int64

In [48]:
# Save Analysis to CSV
analysis_results = {
    "Basic Statistics": basic_stats,
    "Unique Values": unique_values,
    "Missing Values": missing_values,
    "Data Types": data_types,
    "Data Completeness": data_completeness,
    "Duplicate Rows": duplicates,
    "Correlation Matrix": correlation_matrix,
    "Yearly Trends for Schemes": yearly_trends_schemes,
    "Quarterly Trends for Schemes": quarterly_trends_schemes,
    "Yearly Trends for NAV": yearly_trends_nav,
    "Quarterly Trends for NAV": quarterly_trends_nav
}

for key, value in analysis_results.items():
    value.to_csv(f'{key.replace(" ", "_").lower()}.csv')
    print(f"{key} saved to {key.replace(' ', '_').lower()}.csv")

Basic Statistics saved to basic_statistics.csv
Unique Values saved to unique_values.csv
Missing Values saved to missing_values.csv
Data Types saved to data_types.csv
Data Completeness saved to data_completeness.csv
Duplicate Rows saved to duplicate_rows.csv
Correlation Matrix saved to correlation_matrix.csv
Yearly Trends for Schemes saved to yearly_trends_for_schemes.csv
Quarterly Trends for Schemes saved to quarterly_trends_for_schemes.csv
Yearly Trends for NAV saved to yearly_trends_for_nav.csv
Quarterly Trends for NAV saved to quarterly_trends_for_nav.csv